.container {
    display: flex;
    background-color: rgb(196, 178, 152);
  }
  
.container div {
    background-color: #f1f1f1;
    margin: .25vw;
    padding: 0px;
    font-size: 16px;
    
    width: 49vw;
    height: 100wh;
}
